In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.svm import SVC  
from sklearn.metrics import accuracy_score

In [2]:
# Load the dataset
loan_data = pd.read_csv('loan_data.csv')

In [18]:
loan_data.head()

,Loan_ID,Gender,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Dependents_0,Dependents_1,Dependents_2,Dependents_3+
0,LP001003,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0,False,True,False,False
1,LP001005,1,1,0,1,3000,0.0,66.0,360.0,1.0,2,1,True,False,False,False
2,LP001006,1,1,1,0,2583,2358.0,120.0,360.0,1.0,2,1,True,False,False,False
3,LP001008,1,0,0,0,6000,0.0,141.0,360.0,1.0,2,1,True,False,False,False
4,LP001013,1,1,1,0,2333,1516.0,95.0,360.0,1.0,2,1,True,False,False,False

In [25]:
loan_data.isna().sum()

Loan_ID              0
Gender               0
Married              0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
Dependents_0         0
Dependents_1         0
Dependents_2         0
Dependents_3+        0
dtype: int64

In [26]:
# Handle missing values
# loan_data.fillna(method='ffill', inplace=True)  # fill misssing values

+

+
+
+
+

In [27]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            381 non-null    object
 1   Gender             381 non-null    int32
 2   Married            381 non-null    int32
 3   Education          381 non-null    int32
 4   Self_Employed      381 non-null    int32
 5   ApplicantIncome    381 non-null    int64
 6   CoapplicantIncome  381 non-null    float64
 7   LoanAmount         381 non-null    float64
 8   Loan_Amount_Term   381 non-null    float64
 9   Credit_History     381 non-null    float64
 10  Property_Area      381 non-null    int32
 11  Loan_Status        381 non-null    int32
 12  Dependents_0       381 non-null    bool
 13  Dependents_1       381 non-null    bool
 14  Dependents_2       381 non-null    bool
 15  Dependents_3+      381 non-null    bool
dtypes: bool(4), float64(4), int32(6), int64(1), object(1)
memory usage: 28.4+ KB

In [6]:
# encode categorrial data in numerical data
label_encoders = {}
for col in ['Gender', 'Married', 'Education', 'Self_Employed', 'Property_Area', 'Loan_Status']:
    label_encoders[col] = LabelEncoder()
    loan_data[col] = label_encoders[col].fit_transform(loan_data[col])

In [7]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            381 non-null    object
 1   Gender             381 non-null    int32
 2   Married            381 non-null    int32
 3   Dependents         381 non-null    object
 4   Education          381 non-null    int32
 5   Self_Employed      381 non-null    int32
 6   ApplicantIncome    381 non-null    int64
 7   CoapplicantIncome  381 non-null    float64
 8   LoanAmount         381 non-null    float64
 9   Loan_Amount_Term   381 non-null    float64
 10  Credit_History     381 non-null    float64
 11  Property_Area      381 non-null    int32
 12  Loan_Status        381 non-null    int32
dtypes: float64(4), int32(6), int64(1), object(2)
memory usage: 29.9+ KB

In [8]:
# one hot coding on depends column  split column acording to data
loan_data = pd.get_dummies(loan_data, columns=['Dependents'])

In [9]:
# split data into features and target variable
X = loan_data.drop(['Loan_ID', 'Loan_Status'], axis=1)
y = loan_data['Loan_Status']

In [10]:
# split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
# train data using svc
clf = SVC()  
clf.fit(X_train, y_train)

SVC()

In [16]:
# Predict on the testing data
y_pred = clf.predict(X_test)

In [23]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy*100)

Accuracy: 72.72727272727273

In [24]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", (accuracy*100).round(2))

Accuracy: 72.73